.services {
  padding: 4rem 2rem;
  background-color: var(--background-color-alt-two);;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  text-shadow: 0 0 5px var(--primary-color-highlight);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: 250px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  transition: filter 0.3s ease;
}

.card:hover .image {
  filter: brightness(0.5);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}
