.clients {
  padding: 4rem 2rem;
  background-color: var(--background-color-alt-two);
  text-align: center;
}

.clients h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-shadow: 0 0 5px var(--primary-color-highlight);
}

.clients ul {
  list-style: none;
  padding: 0;
}

.clients li {
  margin: 8px 0;
}
