#root {
  /* max-width: 1280px; */
  max-width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  --primary-color-light: #4d94c0;
  --primary-color: #0072bb;
  --primary-color-dark: #003454;
  --pc: #008de4;
  --primary-color-highlight: rgb(255, 231, 94);
  --secondary-color: #ccb20b;
  --text-color: #333;
  --background-color: #f4f4f4;
  --background-color-alt-one: #f8f9fc;
  --background-color-alt-two: #ffffff;
}
